
<!doctype html>
<html lang="en">
{{>head}} {{>header}}
<script src="/javascripts/script1.js"></script>
<link rel="stylesheet" href="stylesheets/style.css">
<img width=100% src="/images/back.jpg" alt="Card image">

<body>
      <div class="content">
<div class="error-content">

	Error 404<br>
	  <button class="btn btn-outline-secondary my-4" onclick="location.href='/'" type="submit">Go home</button>
     </div>


      </div>
      {{>footer}}
</body>

</html>
