<!doctype html>
<html lang="en">
{{>head}} {{>header}}
<script src="/javascripts/script1.js"></script>
<link rel="stylesheet" href="stylesheets/style.css">
<img width=100% src="/images/back.jpg" alt="Card image">

<body>
      <div class="content">
            <h1>
                  <b>About Rock Chords</h1>
            </b>
            Music permeates our life with an easy and easy step, like the notorious red thread. She is able to convey our emotional experiences
            and moods much more expressively than simple words. Perhaps, therefore, people who know how to play musical instruments,
            more developed personalities in the spiritual plan. The RockChords site extends a helping hand and invites everyone
            to join the world of music. With it, you can play the guitar and discover something new in yourself, previously
            not known, regardless of the level of preparation and age or other unexpected features. Music is an eternal art,
            and a guitar is the best instrument to realize and acquire a faithful friend for ages.

      </div>
      {{>footer}}
</body>

</html>